{% extends 'base.html' %}


{% block content %}

{% for movie in movies %}
<div class="movie-item">
    <h3>{{ movie.title }}</h3>
    <p>{{ movie.description }}</p>
    <form method="post" action="{% url 'like_movie' movie.id %}">
        {% csrf_token %}
        {% if movie.likes.filter(user=request.user, is_liked=True).exists %}
        <button type="submit">Unlike</button>
        {% else %}
        <button type="submit">Like</button>
        {% endif %}
    </form>
</div>
{% endfor %}


{%endblock%}